       {{#if order}}
            <h3>Order Details</h3>
            <table class="table table-hover">
                <tbody>
                    {{#each o in order}} 
                    <tr>
                        <td>{{o.id}}</td>
                        <td>{{o.pizza.name}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}